html,body{
	padding:0; 
	margin:0;
	width:100%;
	height:100%;
}


.header{
	margin: 0 auto;
	width: 100%;
	height:50%;
	background-color: black;

}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: blue;
	position: sticky;
	top: 0;
}

li{
	display: inline;
}

li a{
		display: black;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
}


