{
	padding: 0px;
	margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #5576aa;
    font-family: arial;
    font-size: 16px;
    position: fixed;
    width: 100%;
  	top: 0;
  	left: 0;
}

li {  
    float:right;
    padding-right: 10px;
    
}

li a{
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

body{
	background-image: url(../img/sunset.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

h1{
	text-align: center;
	font-family: Arial;

}

h3{
	text-align: center;
	font-family: arial;
	font-size: 16px;
}

h4{
	font-family: arial;
}

p{
	text-align: justify;
	font-family: arial;
	padding-left: 25px;
}

.kotak{
	margin-top: 8%;
	display: block;
	width: 80%;
	height: 600%;
	margin-left: 40px;
	background: rgba(0,0,0,0.5);
	color: white;
	padding: 5%;
	line-height: 30px;

}
